/* MovieGrid.css */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columnas */
    grid-template-rows: repeat(3, auto); /* 2 filas */
    gap: 16px;
    max-width: 100%;
    padding: 10px;
}

.movie-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 12px; /* Un poco más de espacio */
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-item img {
    width: 230px; /* Aumenta el tamaño del póster */
    height: 345px;
    object-fit: cover;
    margin-bottom: 8px;
    border-radius: 4px;
}

.movie-title {
    font-size: 16px; /* Aumenta ligeramente el tamaño del texto del título */
    margin-top: 5px;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}